@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Baloo Tammudu 2", Helvetica, sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.main {
  width: 60vw;
  height: 80vh;
  margin-top: 2em;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
.new-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin-left: 0px;
}
.messages-list {
  padding: 5px 0 0 5px;
}
.sidebar {
  padding: 10px;
  height: 60vh;
  width: 30vw;
  background: #ffffff;
  margin: 2em;
  border-radius: 10px;
}
.sidebar ul {
  margin-top: 30px;
  list-style: none;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.sidebar ul .userBg {
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.sidebar ul .userBg p {
  margin: auto;
  font-size: 0.5em;
}
